<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AzureTextAnalytics" version="1.0.5804.32484" targetFramework="net461" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net461" />
  <package id="Microsoft.Azure.CognitiveServices.Language.TextAnalytics" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net461" />
</packages>